## Transfor Data - Vintage Shop

In [49]:
import pandas as pd
import numpy as np
import csv
import re

1. Export the data from all 5 Decades:

In [50]:
df_1 = pd.read_csv(f"data/1960s_2024-02-04.csv")
df_2 = pd.read_csv(f"data/1970s_2024-02-04.csv")
df_3 = pd.read_csv(f"data/1980s_2024-02-04.csv")
df_4 = pd.read_csv(f"data/1990s_2024-02-04.csv")
df_5 = pd.read_csv(f"data/2000s_2024-02-04.csv")

2. Concatenate all the dates in the same dataframe, drop duplicates and reset index

In [51]:
df = pd.concat([df_1, df_2, df_3, df_4, df_5])
#repeated t-shirts are shown as different products, the link will always be different
df.drop("link", axis=1, inplace=True)
# we're not going to use this column 
df.drop("qty", axis=1, inplace=True)

In [52]:
print(df.duplicated().value_counts())
print("--------------INFO--------------")
df.drop_duplicates(inplace = True)
df = df.reset_index(drop=True)
df.info()

False    3737
True      270
Name: count, dtype: int64
--------------INFO--------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3737 entries, 0 to 3736
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   description  3737 non-null   object
 1   price        3737 non-null   object
 2   collection   3737 non-null   object
dtypes: object(3)
memory usage: 87.7+ KB

3. Small tranformations:

In [53]:
#remove the s in collection and rename the column: 
df.rename(columns={'collection': 'decade'}, inplace=True)
df["decade"] = df["decade"].str.replace("s","")

#remove the $ in price and rename the column:
df.rename(columns={'price': 'price_$'}, inplace=True)
df["price_$"] = df["price_$"].str.replace("$","")
df["price_$"] = df["price_$"].str.replace(",",".")
df["price_$"] = df["price_$"].astype(float)

# remove the year from the descirption:
df["description"] = df["description"].apply(lambda x: x[5:].strip())

df

                                            description  price_$ decade
0            Oregon State University Champion Tag Shirt    150.0   1960
1                         Hardwick's Dinghy Derby Shirt    250.0   1960
2                                    Led Zeppelin Shirt    300.0   1970
3                  Star Wars Hildenbrandt Iron On Shirt    100.0   1970
4     George Thorogood And The Destroyers Rounder Re...    150.0   1970
...                                                 ...      ...    ...
3732                                 Darkest Hour Shirt     60.0   2000
3733  Alice Cooper Troubled Man For Troubled Time Shirt    100.0   2000
3734                                311 Fall Tour Shirt    100.0   2000
3735                                311 Fall Tour Shirt    125.0   2000
3736                                311 Fall Tour shirt    125.0   2000

[3737 rows x 3 columns]

4. Assign categories/tags

In [54]:
# We have extract the list from the scraping 
movies = ['disney','looney-tunes','the-simpsons','star-wars','batman']

movies = [a.replace("-"," ").title() for a in movies]

In [55]:
# We have extract the list from the scraping 

artist = ['311','acdc','aerosmith','alice-cooper','beatles','black-sabbath',
         'bob-dylan','bob-seger','bon-jovi','bruce-springsteen','david-bowie',
         'def-leppard','eagles','elton-john','fleetwood-mac','garth-brooks','grateful-dead',
         'green-day','guns-n-roses','iron-maiden','jimi-hendrix','jimmy-buffett','jimmy-page',
         'john-lennon','journey','kiss','korn','led-zeppelin','lollapalooza','madonna',
         'marilyn-manson','metallica','michael-jackson','motley-crue','nine-inch-nails',
         'nirvana','ozzy-osbourne','paul-mccartney','pearl-jam','pink-floyd',
         'poison','ramones','rolling-stones','smashing-pumpkins','the-clash',
         'the-who','tom-petty','type-o-negative','u2','van-halen','woodstock']

#Format the list to match the description structure:

artist = [a.replace("-"," ").title() for a in artist]
#artists

   - From 2 list we create a dictionary to use the in a function

In [56]:
categories= {"Music": artist, "Entretainment":movies}
#music

   - Function to asign cat/tags

In [57]:
def tag(x):
    for key,value in categories.items():
        for i in value:
            if i in x:
                return i
    return np.nan


def cat(x):
    for key,value in categories.items():
        for i in value:
            if i in x:
                return key
    return np.nan

In [58]:
df["tag"] = df["description"].apply(tag)
df["cat"] = df["description"].apply(cat)

In [59]:
df

,description,price_$,decade,tag,cat
0,Oregon State University Champion Tag Shirt,150.0,1960,NaN,NaN
1,Hardwick's Dinghy Derby Shirt,250.0,1960,NaN,NaN
2,Led Zeppelin Shirt,300.0,1970,Led Zeppelin,Music
3,Star Wars Hildenbrandt Iron On Shirt,100.0,1970,Star Wars,Entretainment
4,George Thorogood And The Destroyers Rounder Re...,150.0,1970,NaN,NaN
...,...,...,...,...,...
3732,Darkest Hour Shirt,60.0,2000,NaN,NaN
3733,Alice Cooper Troubled Man For Troubled Time Shirt,100.0,2000,Alice Cooper,Music
3734,311 Fall Tour Shirt,100.0,2000,311,Music
3735,311 Fall Tour Shirt,125.0,2000,311,Music
3736,311 Fall Tour shirt,125.0,2000,311,Music

In [60]:
def export_to_csv(data_frame, file_name):
    """
    Export a DataFrame to a CSV file.

    Parameters:
        - data_frame: pandas DataFrame
        - file_name: str, name of the CSV file (without the extension)
    """

    file_path = f"data/{file_name}.csv"
    
    data_frame.to_csv(file_path, index=False)
    print(f"DataFrame successfully exported to {file_path}")

5. Export the resulting DataFrame for viz purposes

In [61]:
export_to_csv(df, "vintage_shop_items")

DataFrame successfully exported to data/vintage_shop_items.csv