In [19]:
import pandas as pd
import numpy as np
import csv
import re
from collections import Counter
import seaborn as sns

import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [20]:
df = pd.read_csv(f"data/rym_top_5000_all_time.csv")

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Ranking            5000 non-null   float64
 1   Album              5000 non-null   object
 2   Artist Name        5000 non-null   object
 3   Release Date       5000 non-null   object
 4   Genres             5000 non-null   object
 5   Descriptors        4886 non-null   object
 6   Average Rating     5000 non-null   float64
 7   Number of Ratings  5000 non-null   object
 8   Number of Reviews  5000 non-null   int64
dtypes: float64(2), int64(1), object(6)
memory usage: 351.7+ KB

1. We are intereted in analize albums by decade so we will nedd to estract the decade from the year of release:

In [22]:
y = df["Release Date"][0]
print(y)
type(y)

16 June 1997

str

In [23]:
#Wont work because of the day:
year = "".join([i for i in y if i.isdigit()])
year

'161997'

In [24]:
#Day is always 2 digits and at the begginig: 
year = "".join([y[i] for i in range(2,len(y)) if y[i].isdigit()])
year

'1997'

In [25]:
def extr_year(y):
    
    if y.isdigit():
        return int(y)
    else:
        return int("".join([y[i] for i in range(2,len(y)) if y[i].isdigit()]))

In [26]:
df["Release Year"] = df["Release Date"].apply(extr_year)

In [27]:
df["Decade"] = df["Release Year"].apply(lambda x:(x // 10)*10)

2. Selecting columns of interes

In [28]:
df = df[["Average Rating","Decade","Artist Name","Album", "Genres"]]

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Average Rating  5000 non-null   float64
 1   Decade          5000 non-null   int64
 2   Artist Name     5000 non-null   object
 3   Album           5000 non-null   object
 4   Genres          5000 non-null   object
dtypes: float64(1), int64(1), object(3)
memory usage: 195.4+ KB

In [30]:
df = df.query('Decade > 1950 and Decade < 2010')

In [31]:
df["Decade"].unique()

array([1990, 1970, 1960, 2000, 1980])

In [32]:
df

,Average Rating,Decade,Artist Name,Album,Genres
0,4.23,1990,Radiohead,OK Computer,"Alternative Rock, Art Rock"
1,4.29,1970,Pink Floyd,Wish You Were Here,"Progressive Rock, Art Rock"
2,4.30,1960,King Crimson,In the Court of the Crimson King,"Progressive Rock, Art Rock"
3,4.21,2000,Radiohead,Kid A,"Art Rock, Experimental Rock, Electronic"
5,4.24,1990,My Bloody Valentine,Loveless,"Shoegaze, Noise Pop"
...,...,...,...,...,...
4995,3.69,1970,Gracious,Gracious!,"Progressive Rock, Symphonic Prog"
4996,3.67,1990,Grave Digger,Knights of the Cross,"Power Metal, Heavy Metal"
4997,3.68,2000,And Also the Trees,(Listen For) The Rag and Bone Man,Art Rock
4998,3.65,1960,Studio für elektronische Musik des Westdeutsch...,Hymnen für elektronische und konkrete Klänge,"Musique concrète, Modern Classical, Electronic"
4999,3.69,1970,Minnie Riperton,Adventures in Paradise,"Smooth Soul, Pop Soul"

In [33]:
def export_to_csv(data_frame, file_name):
    """
    Export a DataFrame to a CSV file.

    Parameters:
        - data_frame: pandas DataFrame
        - file_name: str, name of the CSV file (without the extension)
    """

    file_path = f"data/{file_name}.csv"
    
    data_frame.to_csv(file_path, index=False)
    print(f"DataFrame successfully exported to {file_path}")

3. Export resulting df for viz purposes:

In [34]:
export_to_csv(df, "album_rating")

DataFrame successfully exported to data/album_rating.csv