In [14]:
import pandas as pd
import numpy as np
import csv
import re
from collections import Counter

In [2]:
df = pd.read_csv(f"data/ebay_2024-02-04.csv")

In [3]:
df

,description,sold_date,price,shipping,location,collection
0,New Listing1990’s Vintage Nine Inch Nails The ...,"Sold Feb 4, 2024",$149.99,+$30.03 shipping,from United States,Music
1,Vintage Iron Maiden T Shirt XL - Black n White,"Sold Feb 4, 2024",$75.95,+$17.57 shipping estimate,from United Kingdom,Music
2,Vintage Willie Nelson Spirit Whiskey River Gra...,"Sold Feb 4, 2024",$40.00,+$28.03 shipping,from United States,Music
3,Vintage Korn T Shirt Large - Black,"Sold Feb 4, 2024",$39.34,+$16.30 shipping estimate,from United Kingdom,Music
4,VTG Metallica Rock Band T-Shirt Mens Size L Bl...,"Sold Feb 4, 2024",$30.00,+$27.41 shipping,from United States,Music
...,...,...,...,...,...,...
6235,Vintage Iron Maiden 1998 Mark Of The Beast 666...,"Sold Jan 5, 2024",$49.00,+$20.03 shipping,from United States,Music
6236,Vintage Mens T-Shirt XL Black Short Sleeve Rob...,"Sold Jan 5, 2024",$19.95,Shipping not specified,from United States,Music
6237,Coheed And Cambria - Geisha - Vintage New Neve...,"Sold Jan 5, 2024",$12.75,+$18.49 shipping,from United States,Music
6238,"Vintage 1991 Metallica T-shirt, All Over Print...","Sold Jan 5, 2024",$299.99,+$27.01 shipping,from United States,Music
6239,VNTG 2000s Hook-Ups 069 Anime T-Shirt Skatebo...,"Sold Jan 5, 2024",$41.86,+$20.09 shipping,from United States,Music

In [4]:
def cange_month(x):
     
    month_dict = {'Jan': "1",'Feb': "2",'Mar': "3",'Apr': "4",
    'May': "5",'Jun': "6",'Jul': "7",'Aug': "8",'Sep': "9",
    'Oct': "10",'Nov': "11",'Dec': "12"}
    
    for key, value in month_dict.items():
        if key in x:
            x = x.replace(key,value)
    return x

In [5]:
df["sold_date"] = df["sold_date"].apply(lambda x:x.replace("Sold", "").strip().replace(",", "").replace(" ","-"))
df["price"] = df["price"].str.replace("$","")
df["location"] = df["location"].str.replace("from ","")
df["shipping"] = df["shipping"].apply(lambda x: "".join([i for i in x if i.isdigit() or i =="."]))

In [6]:
#OJO con el formato de la fecha, el mes esta antes 
df["sold_date"] = df["sold_date"].apply(cange_month)

In [40]:
df["price"].astype(float)

ValueError: could not convert string to float: '10.99 to 26.91'

In [47]:
def palabras_clave(column, numb, re_words):
    
    """Function that returns the {numb} words more 
    repeated in a text inside a csv {file}"""
    
    text = column.tolist()
    
    lines = [i.strip().lower() for i in text]
    
    #remove all special caracters 
    clean_lines = []
    for entry in lines:
        a = "".join(char for char in entry if char.isalpha() or char.isspace())
        clean_lines.append(a)
    
    # separate line in list of words 
    words_lists = list(map(lambda x:x.split(" "),clean_lines))
    
    # list of all words separated 
    flat_words = [ word.strip() for list_ in words_lists for word in list_  if word != "" and word not in re_words]
    
    # use library counter 
    word_counts = Counter(flat_words)
    
    most_common_words = word_counts.most_common(numb)

    return most_common_words

In [83]:
re_words = ['a', 'an', 'the', 'and', 'or', 'but', 'in', 'on', 'for', 'with', 'at', 'by', 'of', 'about', 'to', 'from',
    'up', 'down', 'over', 'under', 'above', 'below', 'after', 'before', 'during', 'while', 'since', 'because',
    'as', 'though', 'if', 'whether', 'no', 'not', 'than', 'until', 'unless', 'without', 'out', 'off', 'of', 
    'into','vintage','shirt','band','tshirt','xl','tour','s','t','made', 'style', 'xxl', 'album',
    'size','tee','black', 'mens', 'large', 'concert', 'vtg', 'l', 'yk', 'graphic', 'single', 'stitch', 'music', 
    'medium', 'sleeve','records', 'love', 'm', 'white', 'dead','usa', 'sz', 'sided', 'unisex', 'blue', 'world', 'men', 'long', 'adult', 'cotton', 
    'new', 'sxl', 'small','logo', 'all', 'lot', 'double', 'logo' 'rare', 'tag', 'tie', 'made', 'xxl', 'album', 'red', 'short', 'giant', 
    'pink', 'us', 'you','u','women', 'live','me','print', 'liquid', 'x', 'reprint', 'gray', 'country', 'original', 'big','xlarge', 'n','art','lb', 'top','classic', 'gift','extra','raglan', 'movie', 'tool', 'your', 'distressed']

In [87]:
a = palabras_clave(df["description"],70, re_words)

In [88]:
b =[i[0] for i in a]

In [89]:
print(b)

['rock', 'rare', 'metal', 'punk', 'grateful', 'metallica', 'rap', 'dye', 'kiss', 'green', 'faded', 'heavy', 'promo', 'retro', 'american', 'death', 'nirvana', 'slayer', 'grunge', 'stones', 'floyd', 'rolling', 'skull', 'hardcore', 'merch', 'pop', 'iron', 'hot', 'summer', 'deftones', 'is', 'aop', 'beatles', 'brockum', 'maiden', 'official', 'korn', 'day', 'van', 'zeppelin', 'led', 'my', 'face', 'brothers', 'halen', 'pantera', 'north', 'kanye', 'boys', 'alice', 'anvil', 'kv', 'bob', 'aerosmith', 'emo', 'acdc', 'hip', 'ozzy', 'peppers', 'hop', 'guns', 'smashing', 'pumpkins', 'slipknot', 'hanes', 'motley', 'crue', 'reseller', 'dark', 'roses']

- CHAT GPT:Relate this key words with the t-shirt vintage market

The keywords you provided seem to be associated with various music genres, bands, and cultural references. Relating these keywords to the t-shirt vintage market could involve creating or identifying t-shirts that feature designs, logos, or references related to these elements. Here's how some of these keywords could be related to the vintage t-shirt market:

Rock, Metal, Punk, Grunge, Hardcore: Create or find vintage t-shirts featuring iconic rock, metal, punk, grunge, or hardcore bands. These could include band logos, album covers, or tour graphics.

Retro, Vintage, Promo, Official: Vintage t-shirts often highlight the retro or nostalgic aspect, and official promotional merchandise from concerts or events can be highly sought after by collectors.

Rare, Faded, Grateful, Death, Nirvana, Slayer: T-shirts from rare or iconic moments in music history, including limited editions or shirts from legendary bands like Nirvana or Slayer, can be valuable in the vintage market.

Dye, Tie-Dye, Green, Summer, Hot: T-shirts with tie-dye patterns or designs related to summer and hot weather could be popular for their unique and vibrant aesthetic.

American, North, Beatles, Rolling Stones, Led Zeppelin: T-shirts featuring classic American and British rock bands can be popular among collectors and fans of music history.

Skull, Metallica, Iron Maiden, Pantera: Designs featuring skulls or logos from heavy metal bands like Metallica, Iron Maiden, or Pantera are often sought after in the vintage market.

Pop, Hip-Hop, Rap, Kanye, Guns, Roses: T-shirts representing pop, hip-hop, or rap culture, including those associated with iconic figures like Kanye West or Guns N' Roses, can have a place in the vintage market.

Reseller, Hanes, Merch, AOP (All Over Print): Terms like reseller, Hanes (a popular brand for blanks), merch (merchandise), and AOP (All Over Print) might relate to the production and characteristics of vintage t-shirts.

Beatles, Bob, Alice, Van, Halen, Ozzy: T-shirts featuring classic rock legends like The Beatles, Bob Dylan, Alice Cooper, Van Halen, or Ozzy Osbourne can be in high demand.

Deftones, KISS, Rolling, Stones, Floyd: Specific band names like Deftones, KISS, or classic rock bands like The Rolling Stones and Pink Floyd could be focal points for vintage t-shirt collectors.

Understanding the cultural and historical significance of these keywords can help in curating or identifying vintage t-shirts that resonate with collectors and enthusiasts in the market.